name: Build and Test

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - { name: Current, version: current }
          - { name: LTS,     version: lts/* }
    name: Build and test (Node ${{ matrix.node.name }})
    permissions:
      contents: read
      packages: read
    steps:
      - name: Check out the code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@96017f90942616677d9fdad3cf29cefcec02d795 # master
        with:
          node-version: ${{ matrix.node.version }}
          registry-url: https://npm.pkg.github.com
