name: Build and Test

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - { name: Current, version: current }
          - { name: LTS,     version: lts/* }
    name: Build and test (Node ${{ matrix.node.name }})
    permissions:
      contents: read
      packages: read
    steps:
      - name: Check out the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: true

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@65a2ad38ee88c348c96631c7afa0f940975d020a # master
        with:
          node-version: ${{ matrix.node.version }}
          registry-url: https://npm.pkg.github.com
