name: Build and Test

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - { name: Current, version: current }
          - { name: LTS,     version: lts/* }
    name: Build and test (Node ${{ matrix.node.name }})
    permissions:
      contents: read
      packages: read
    steps:
      - name: Check out the code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true

      - name: Build and test
        uses: myrotvorets/composite-actions/build-test-nodejs@369dc3aeb93e19b315d8a658a6a5d347eac45218 # master
        with:
          node-version: ${{ matrix.node.version }}
          registry-url: https://npm.pkg.github.com
